@import "tailwindcss";


@tailwind utilities;

/* Swiper overrides */
.swiper-button-next,
.swiper-button-prev {
  color: #ffc107 !important;
}
.swiper-pagination-bullet-active {
  background: #ffc107 !important;
}

/* Star rating */
.star-rating input[type="radio"] {
  display: none;
}
.star-rating label {
  cursor: pointer;
  color: #ccc;
  font-size: 2rem;
  transition: color 0.2s;
}
.star-rating input[type="radio"]:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ffc107;
} 